@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --fonte-titulo: "Agdasima",
    --fonte-texto: "Afacad Flux", 
    --federal-blue: #03045eff;
--marian-blue: #023e8aff;
--honolulu-blue: #0077b6ff;
--blue-green: #0096c7ff;
--pacific-cyan: #00b4d8ff;
--vivid-sky-blue: #48cae4ff;
--non-photo-blue: #90e0efff;
--non-photo-blue-2: #ade8f4ff;
--light-cyan: #caf0f8ff;

}